<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/head.njk" %}

        {% block scripts %}{% endblock %}

        <title>{% block title %}SFHACKSxGDG2026{% endblock %}</title>
    </head>

    <body>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
