<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/head.njk" %}

        {% block scripts %}{% endblock %}

        <title>{% block title %}SFHACKSxGDG2026{% endblock %}</title>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <main>
            {% block content %}{% endblock %}
        </main>

        {% include "partials/footer.njk" %}
    </body>
</html>
