{% extends "layouts/base.njk" %}

{% block title %}SFHACKSxGDG2026: Index{% endblock %}

{% block content %}
<div class="main-container">
    <h1>SFHACKSxGDG2026</h1>
    <p>Welcome to our hackathon project.</p>
    <p><a href="/viewer">View stored stories</a></p>
    <p><a href="/dbviewer">View database</a></p>
</div>
{% endblock %}
